#useDynLib(NPCirc)
import(circular)
importFrom(misc3d, parametric3d, drawScene.rgl)
importFrom(movMF, movMF)
importFrom(plotrix, boxed.labels, radial.plot) 
importFrom(rgl, lines3d, points3d, texts3d)
importFrom(shape, Arrows)
export(kern.den.circ,kern.reg.circ.lin,kern.reg.circ.circ,kern.reg.lin.circ,bw.CV,bw.rt,bw.pi,
bw.boot,bw.reg.circ.lin,bw.reg.circ.circ,bw.reg.lin.circ,
dcircmix,rcircmix,dwsn,rwsn,circsizer.density,circsizer.regression,circsizer.map)
S3method(plot, regression.circular)
S3method(lines, regression.circular)
S3method(print, regression.circular)
S3method(print, circsizer)